<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebRTC</title>
    <link rel="stylesheet" href="static/css/main.css">

</head>

<body>

    <div id="videos">
        <video class="video-player" id="user-1" autoplay playsinline src=""></video>
        <video class="video-player" id="user-2" autoplay playsinline src=""></video>
    </div>

    <button id="create-offer">Create Offer</button>
    <label>SDP Offer</label>
    <textarea id="offer-sdp"></textarea>

    <button id="create-answer">Create Answer</button>
    <label>SDP Answer</label>
    <textarea id="answer-sdp"></textarea>

    <button id="add-answer">Add Answer</button>

</body>

<!-- <script src="static/js/main.js"></script> -->
<script>
    let peerConnection;
    let localStream;
    let remoteStream;

    let servers = {
        iceServers:[
            {
                urls: [
                    'stun:stun1.1.google.com:19302',
                    'stun:stun2.1.google.com:19302'
                ]
            }
        ]
    }

    let init = async () => {
        localStream = await navigator.mediaDevices.getUserMedia({video:true, audio:false});
            
        document.getElementById('user-1').srcObject = localStream;
    }

    let createOffer = async () => {
        peerConnection = new RTCPeerConnection(servers)

        remoteStream = new MediaStream()
        document.getElementById('user-2').srcObject = remoteStream;

        localStream.getTracks().forEach((track) => {
            peerConnection.addTrack(track, localStream);
        })

        peerConnection.ontrack = async (event) => {
            event.streams[0].getTracks().forEach((track) => {
                remoteStream.addTrack(track)
            })
        }

        peerConnection.onicecandidate = async (event) => {
            if (event.candidate){
                document.getElementById('offer-sdp').value = JSON.stringify(peerConnection.localDescription)
            }
        }
        let offer = await peerConnection.createOffer();
        await peerConnection.setLocalDescription(offer);

        document.getElementById('offer-sdp').value = JSON.stringify(offer)
    }

    let createAnswer = async () => {
        peerConnection = new RTCPeerConnection(servers)

        remoteStream = new MediaStream()
        document.getElementById('user-2').srcObject = remoteStream;

        localStream.getTracks().forEach((track) => {
            peerConnection.addTrack(track, localStream);
        })

        peerConnection.ontrack = async (event) => {
            event.streams[0].getTracks().forEach((track) => {
                remoteStream.addTrack(track)
            })
        }

        peerConnection.onicecandidate = async (event) => {
            if (event.candidate){
                document.getElementById('offer-sdp').value = JSON.stringify(peerConnection.localDescription)
            }
        }
        
        let offer = document.getElementById('offer-sdp').value

        if (!offer) return alert("Retrieve offer first!");

        offer = JSON.parse(offer);
        await peerConnection.setRemoteDescription(offer)

        let answer = await peerConnection.createAnswer()
        await peerConnection.setLocalDescription(answer)

        document.getElementById('answer-sdp').value = JSON.stringify(answer)
    }

    let addAnswer = async () => {
        let answer = document.getElementById('answer-sdp').value
        if (!answer) return alert("Retrieve answer from peer first!");

        answer = JSON.parse(answer)

        if (!peerConnection.currentRemoteDescription){
            peerConnection.setRemoteDescription(answer)
        }
    }


    init()

    document.getElementById('create-offer').addEventListener('click', createOffer);
    document.getElementById('create-answer').addEventListener('click', createOffer);
    document.getElementById('add-answer').addEventListener('click', addAnswer);


</script>

</html>
